
    
@media screen and (max-width: 1025px) {

  .plt-desktop .desktop-main-container .ion-left-column {
    display: none !important;
  }
  .plt-desktop .desktop-main-container .ion-middle-column{
    width: 100% !important;
    max-width: 100% !important;
  }
  ion-footer{
    display: none !important;
  }
}
  .plt-desktop .desktop-main-container .desktop-template{
    max-width: var(--breakpoints-width);
    padding: 0;
  }
  .plt-desktop .desktop-main-container {
    --background: url('../../public/img/bg3.png');
  }


  /*=========================*/
  /*======LEFT COLUMN========*/
  /*=========================*/

  .plt-desktop .desktop-main-container .ion-left-column {
    padding: 1em;
    background-color: #ffffff66;
    border-right: 1px solid var(--ion-item-border-color);
    text-align: right;
  }

  .plt-desktop .desktop-main-container .ion-left-column .toolbar_svg_logo {
    height: 42px;
    width: 161px;
    margin: 0.5em;
    display: inline-block;
  }
  .plt-desktop .desktop-main-container .ion-left-column .toolbar_svg_logo .icon-inner,
  .plt-desktop .desktop-main-container .ion-left-column .toolbar_svg_logo .svg{
    width: 100%;
    height: auto;
  }
  .plt-desktop .desktop-main-container .ion-left-column ion-tab-bar {
    display: grid;
    height: auto;
    contain: inherit;
    justify-content: left;
    justify-items: end;
    align-items: center;
    grid-template-columns: 100%;
  }
  .plt-desktop .desktop-main-container .ion-left-column ion-tab-button {
    --padding-start: 0px;
    display: block;
    font-size: 15px;
    width: 100%;
    padding: 10px 0;
  }
  .plt-desktop .desktop-main-container .ion-left-column ion-row {
    display: grid;
    font-size: 15px;
    grid-template-columns: 30% 70%;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 5px 0;
  }
  .plt-desktop .desktop-main-container .ion-left-column ion-tab-bar ion-icon {
    margin-right: 10px;
    font-size: 17px;
    width: 20px;
    height: 20px;
  }

  /*=========================*/
  /*======/LEFT COLUMN=======*/
  /*=========================*/



  /*=========================*/
  /*=====MIDDLE COLUMN=======*/
  /*=========================*/

  .plt-desktop .desktop-main-container .ion-middle-column {
    background: white;
    padding: 0;
    border-bottom: 1px solid var(--ion-item-border-color);
  }

  .plt-desktop .desktop-main-container .ion-middle-column ion-toolbar {
    text-align: left;
    padding: 10px 20px;
    --background: white;
    border-bottom: 1px solid var(--ion-item-border-color);
  }

  .plt-desktop .desktop-main-container .ion-middle-column .page-content{
    width: 100%;
    display: block;
    min-height: 80vh;
  }

  .plt-desktop .desktop-main-container .ion-middle-column .store-list{
    padding: 25px;
    display: block;
  }
  .plt-desktop .desktop-main-container .ion-middle-column .store-list > ion-card{
    width: 48%;
    float: right;
    margin: 1%;
  }
  .plt-desktop .desktop-main-container .ion-middle-column .store-list > ion-card:first-child{
    float: left;
  }
  .plt-desktop .desktop-main-container .ion-middle-column #hcat_widget_wrapper{
    padding: 10px 40px;
  }




  .plt-desktop .desktop-main-container .ion-middle-column ion-radio-group ion-list{
    display: flex;
    padding: 0;
    margin: 10px 0;
  }
  .plt-desktop .desktop-main-container .ion-middle-column ion-radio-group ion-list ion-item{
    --border-color: transparent;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    border-radius: 5px;
  }
  .plt-desktop .desktop-main-container .ion-middle-column ion-radio-group ion-list ion-item.item-radio-checked{
    --background: var(--ion-color-primary);
    --color: white;
  }
  .plt-desktop .desktop-main-container .ion-middle-column ion-radio-group ion-list ion-item.item-radio-checked ion-radio{
    --color-checked: white;
  }
  .plt-desktop .desktop-main-container .ion-middle-column ion-radio-group ion-list ion-item .item-native{
    padding-inline-start: 0px;
  }
  .plt-desktop .desktop-main-container .ion-middle-column ion-radio-group ion-list ion-item ion-radio{
    margin-left: 10px;
  }

  .plt-desktop .desktop-main-container .ion-middle-column .product-actions.incart ion-button{
    border: 2px solid var(--ion-color-primary-tint);
    border-radius: 10px;
    height: 40px;
    margin: 2px;
  }
  /*=========================*/
  /*=====/MIDDLE COLUMN======*/
  /*=========================*/



  /*=========================*/
  /*======RIGHT COLUMN=======*/
  /*=========================*/
  .plt-desktop .desktop-main-container .ion-right-column {
    padding: 0;
    border-left: 1px solid var(--ion-item-border-color);
    border-right: 1px solid var(--ion-item-border-color);
    border-bottom: 1px solid var(--ion-item-border-color);
    overflow: hidden;
  }
  .plt-desktop .desktop-main-container .ion-right-column ion-toolbar {
    text-align: left;
    padding: 10px 20px;
    background: white;
  }
  .plt-desktop .desktop-main-container .ion-right-column ion-toolbar ion-icon {
    display: none;
  }
  .plt-desktop .desktop-main-container .ion-right-column ion-content{
    --padding-bottom: 5em;
  }

  .plt-desktop .desktop-main-container .ion-right-column .product-actions ion-button{
    border: 2px solid var(--ion-color-primary-tint);
    border-radius: 10px;
  }
  /*=========================*/
  /*======/RIGHT COLUMN======*/
  /*=========================*/


  /*=========================*/
  /*==========FOOTER=========*/
  /*=========================*/
  .plt-desktop .desktop-main-container ion-footer.desktop-footer{
    color: white;
    background: var(--footer-background, #3880ff);
    padding: 1em 2em;
    min-height: 15vh;
  }
  .plt-desktop .desktop-main-container ion-footer.desktop-footer .desktop-footer-container{
    max-width: calc(var(--breakpoints-width)/1);
    margin: 0 auto;
  }
  .plt-desktop .desktop-main-container ion-footer  a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  .plt-desktop .desktop-main-container ion-footer ion-title{
    padding: 0px;
    font-size: 15px;
  }
  .plt-desktop .desktop-main-container ion-footer.desktop-footer .social-media-block{
    justify-content: center;
    display: flex;
  }
  .plt-desktop .desktop-main-container ion-footer.desktop-footer .social-media-block ion-img{
    width: 200px;
  }
  .plt-desktop .desktop-main-container ion-footer.desktop-footer .desktop-footer-top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }
  .plt-desktop .desktop-main-container ion-footer.desktop-footer .desktop-footer-top ion-img{
    width: inherit;
    display: inline-block;
  }
  .plt-desktop .desktop-main-container ion-footer.desktop-footer .desktop-footer-bottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    border-top: 1px solid gray;
    font-size: 12px;
  }


  /*=========================*/
  /*==========FOOTER=========*/
  /*=========================*/



  .plt-desktop ion-header ion-toolbar {
    padding: 10px 20px !important;
  }
  .plt-desktop ion-header ion-toolbar ion-title{
    color: var(--ion-color-dark);
  }
  .plt-desktop ion-header ion-tab-bar{
    --background: transparent;
  }

  .plt-desktop ion-tabs ion-tab-bar.bottom-bar{
    display: none;
  }