@font-face {   
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
    font-display: swap;
}
@font-face {   
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
    font-display: swap;
}

ion-label,ion-item{
    font-size: 13px;
}

ion-item-divider.md{
    box-shadow: 0px -2px 5px #e6e6e6;
    margin-top: 10px;
    color: #666;
}
ion-item-divider.ios{
    background-color: #eeeeee;
    margin-top: 10px;
    color: #666;
}
.horizontalScroller{
    scrollbar-width: none;
    overflow-x: auto;
    white-space: nowrap;
}
.horizontalScroller::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
ion-searchbar{
    visibility: visible;
    margin: 1em 0;
    --border-radius: 10px !important;
}

ion-card-title{
    color: var(--ion-text-main);
}

@media print {
    .printDiv {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        
    }
    ion-header,ion-tab-bar{
        display:none;
    }
}