@font-face {   
    font-family: 'Forum';
    src: url('../assets/fonts/Forum/Forum-Regular.ttf');
}
@font-face {   
    font-family: 'OpenSans';
    src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}
@font-face {   
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}
ion-content,ion-note{ 
    font-family:"OpenSans" !important;
    font-weight: 500;
}


ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    color: white;
    text-align: left;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-button{
    border-radius: 10px;
    box-shadow: none;
    text-transform: none;
    height: 45px;
    --border-radius: 10px;
    --box-shadow: none;
}
.section-button{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--ion-text-main);
    font-size: 15px;
}
.section-button ion-icon{
    font-weight: bold;
    font-size: 28px;
    color: var(--ion-color-primary);
}
.section-button ion-label{
    font-weight: 500;
    margin-left: 10px;
}
ion-card-title{
    color: var(--ion-text-main);
}