@font-face {   
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
    font-display: swap;
}

ion-label,ion-item{
    font-size: 13px;
}

ion-item-divider.md{
    box-shadow: 0px -2px 5px #e6e6e6;
    margin-top: 10px;
    color: #666;
}
ion-item-divider.ios{
    background-color: #eeeeee;
    margin-top: 10px;
    color: #666;
}
.horizontalScroller{
    scrollbar-width: none;
    overflow-x: auto;
    white-space: nowrap;
}
.horizontalScroller::-webkit-scrollbar {
    display: none;
}
.max-two-lines{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.max-one-line{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ion-searchbar{
    visibility: visible;
    margin: 1em 0;
    --border-radius: 10px !important;
}
b, strong{
    font-weight: 500;
}
ion-card-title{
    color: var(--ion-text-main);
}

.flip-card__back-bottom, 
.flip-card__back-bottom-4digits, 
.flip-card__bottom, 
.flip-card__bottom-4digits{
  border: none !important;
}

@media print {
    .ion-page {
        display: initial !important;
        position: initial !important;
    }
    body {
        position: initial !important;
        max-height: initial !important;
        overflow: auto !important;
    }
    ion-router-outlet {
        overflow: auto !important;
        contain: none !important;
        position: initial !important;
    }
    ion-content {
        --offset-bottom: unset !important;
        display: unset !important;
        position: unset !important;
    }
    ion-tabs{
        contain: initial !important;
    }
    
    body ion-tabs * {
        visibility: hidden !important;
        overflow: visible !important;
        position: fixed;
    }
    
    .printDiv, .printDiv * {
        visibility: visible !important;
        overflow: inherit !important;
        position: relative !important;
        page-break-after: avoid;
    }
    
}
/*
.printDiv{
    position: absolute;
    left: 0;
    top: 0;
}*/