@font-face {   
    font-family: 'Forum';
    src: url('../assets/fonts/Forum/Forum-Regular.ttf');
}
@font-face {   
    font-family: 'OpenSans';
    src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}
@font-face {   
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}
*{ 
    font-family:"Comfortaa" !important;
}
body ion-content {
    -font-weight: 500;
    -font-size: 14px;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.section-button{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--ion-text-main);
    font-size: 15px;
}
.section-button ion-icon{
    font-size: 24px;
    color: var(--ion-color-primary);
}
.section-button ion-label{
    font-weight: 500;
    margin-left: 10px;
}
ion-card-title{
    -color: var(--ion-text-main);
}