form {
    margin: 1em;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 1em;
    box-shadow: 1px 1px 10px -5px black;
}

form .item-native{
    border-bottom-color: lightgray;
}
