/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-font-family:"Rubik",serif;
  --ion-text-color: "#333";
  /** backgrounds **/

  --ion-background-primary: var(--ion-color-primary);
  --ion-background-primary-dark: var(--ion-color-primary);
  --ion-background-shade:#f0f0f0;
  --ion-background:#ffffff;

  --ion-item-background: white;
  --background: white;
  --ion-background-color: white;
  --ion-main-container-background-color: #edeef0;
  --ion-tab-bar-background: transparent;
  --ion-tab-bar-color: var(--ion-text-color);
  --color-selected: var(--ion-color-primary);

  /** primary **/
  --ion-color-primary: #009dcd;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #54b1ce;
  --ion-color-primary-tint: #eff9fd;

  /** secondary **/
  --ion-color-secondary: #ebc000;
  --ion-color-secondary-contrast: #000;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #fde26b;
  --ion-color-secondary-tint: #fffcee;

  /** tertiary **/
  --ion-color-tertiary: #900030;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #c55b7e;
  --ion-color-tertiary-tint: #ffdde9;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #e7fff1;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #ad931f;
  --ion-color-warning-tint: #fff6da;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ffb1bc;

  
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}


/*=========================*/
/*=========DESKTOP=========*/
/*=========================*/

:root {
  --breakpoints-width: 1366px;
  --footer-background: #292929;
}
.desktop-main-container .ion-middle-column{
  --padding-start: 25px;
  --padding-end: 25px;
  --ion-safe-area-left: 25px;
  --inner-padding-end: 25px;
  --ion-safe-area-right: 25px;
}

/*=========================*/
/*========/DESKTOP=========*/
/*=========================*/