/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** backgrounds **/
  --ion-background-primary: var(--ion-color-primary);
  --ion-background-primary-dark: var(--ion-color-primary);
  --ion-background-shade:#f0f0f0;
  --ion-background:#ffffff;

  --ion-item-background: white;
  --background: white;
  --ion-background-color: white;
  --ion-main-container-background-color: #edeef0;
  --ion-tab-bar-background: transparent;
  --ion-tab-bar-color: var(--ion-text-color);
  --color-selected: var(--ion-color-primary);

  /** primary **/
  --ion-color-primary: #009dcd;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #54b1ce;
  --ion-color-primary-tint: #eff9fd;

  /** secondary **/
  --ion-color-secondary: #ebc000;
  --ion-color-secondary-contrast: #000;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #fde26b;
  --ion-color-secondary-tint: #fffcee;

  /** tertiary **/
  --ion-color-tertiary: #900030;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #c55b7e;
  --ion-color-tertiary-tint: #ffdde9;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #e7fff1;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #fff6da;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ffb1bc;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #7d7f83;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
 
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --highlight-background: lightgray;
  --ion-item-border-color: lightgray;
  
  --ion-text-color: rgb(58, 54, 54);
  --color: rgb(58, 54, 54);
  --ion-text-main: rgb(58, 54, 54);
  --ion-card-color: rgb(58, 54, 54);
  --ion-item-color: rgb(58, 54, 54);
  --ion-toolvar-color: var(--ion-color-primary-contrast);



  --padding-start: 0px;
  --padding-end: 35px;
  --inner-padding-end: 35px;
  --ion-safe-area-right: 10px;
}


/*=========================*/
/*=========DESKTOP=========*/
/*=========================*/

:root {
  --breakpoints-width: 1366px;
  --footer-background: #292929;
}
.desktop-main-container .ion-middle-column{
  --padding-start: 25px;
  --padding-end: 25px;
  --ion-safe-area-left: 25px;
  --inner-padding-end: 25px;
  --ion-safe-area-right: 25px;
}

/*=========================*/
/*========/DESKTOP=========*/
/*=========================*/